* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
	color: #565252;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

header {
	height: 600px;
	padding-left: 8.33vw;
	padding-right: 8.33vw;
	padding-top: 25px;
	padding-bottom: 10px;
	background: url("../images/Header.jpg") no-repeat;
	background-position: bottom right;
	background-size: contain;
	background-origin: content-box;
	
}

.header-text {
	padding-top: 25px;
}



.search {
	/* устанавливаем необходимую ширину формы в зависимости от дизайна
	** форма без проблем растягивается */
	width: 200px;

	/* кнопку отправки будем позиционировать абсолютно,
	** поэтому необходимо это свойство */
	position: relative;
}

.search input {
	/* отключаем бордюры у инпутов */
	border: none;
}

/* стили для поля ввода */
.search .input {
	/* растягиваем поле ввода на всю ширину формы */
	width: 100%;

	/* за счет верхнего (8px) и нижнего (9px) внутренних отступов
	** регулируем высоту формы
	** внутренний отступ справа (37px) делаем больше левого,
	** т.к. там будет размещена кнопка отправки	*/
	padding: 8px 37px 9px 15px;

	/* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* добавляем внутренние тени */
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);

	/* закругляем углы */
	border-radius: 20px;

	background: #EEE;
	font: 13px Tahoma, Arial, sans-serif;
	color: #555;
	outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
	background: #E8E8E8;
	color: #333;
}

/* оформляем кнопку отправки */
.search .submit {
	/* позиционируем кнопку абсолютно от правого края формы */
	position: absolute;
	top: 0;
	right: 0;

	width: 37px;

	/* растягиваем кнопку на всю высоту формы */
	height: 100%;

	cursor: pointer;
	background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;

	/* добавляем прозрачность кнопке отправки */
	opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
	opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
	-webkit-appearance: none;
}

.phone {
	text-align: right;
	font-size: 20px;
}

.hat {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

#main_nav a {
	color: #565252;
	text-decoration: none;
}

.nav_link:hover,
.nav_link.active {
	background: #efefef;
	border-bottom: solid #888;
}


/*Header для больших экранов*/
.container_menu {
	padding-bottom: 25px;
	border-bottom: solid #efefef;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding-top: 25px;
	align-items: center;
}

.nav_link {
	margin: 13px;
	min-height: 50px;
	min-width: 140px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	border-bottom: solid #efefef;
}


/*Header для средних экранов*/

@media all and (max-width: 1200px) {
	.container_menu {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 0px auto;
		max-width: 700px;
		padding-top: 25px;
		align-items: center;
	}

	.nav_link {
		margin: 10px;
		min-height: 50px;
		min-width: 160px;
		text-align: center;
		border-bottom: solid #efefef;
	}
}

/*Header для маленьких экранов*/

@media all and (max-width: 600px) {
	.container_menu {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 0px auto;
		max-width: 400px;
		padding-top: 25px;
		align-items: center;
	}

	.nav_link {
		margin: 10px;
		min-height: 50px;
		min-width: 140px;
		text-align: center;
		border-bottom: solid #efefef;
	}

	#main_nav a{
		color: #565252;
		text-decoration: none;
	}
}